@values variables: "./Variables.module.css";
@values navi-blue, grey-lighter, grey , grey-dark from variables;
@values text-grey-light text-grey-dark from variables;

.App {
    background-color: navi-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.title {
    composes: text-grey-light;
    margin-bottom: 3.5rem;
}

.icon {
    composes: text-grey-light;
    width: 2rem;
    height: 2rem;
}

/* button group */
.tabBar {
    display: flex;
    border-radius: 1.75rem;
    overflow: hidden;
    background-color: grey-dark;
}

.tabBar button {
    flex-grow: 1;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s;
    border-radius: 0;
    color: grey;
    border-radius: 1.75rem;
    font-weight: 500;
}

.tabBar button:focus {
    outline: none;
}

.circularContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.timerContainer {
    position: relative;
}
.timerDisplay {
    composes: text-grey-light;
    font-size: 5em;
    
}
.actionBtn {
    color: grey;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 10px;
    position: absolute;
    bottom: -2.5rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
